#checkout-wrapper{

    & .address-list{

        margin-bottom: 20px;

        & .address-block{
            display: flex;
    
            & .address{
                width: calc(100% - 40px);
                display: flex;
                
                & label{
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 40px;
                }
            }
    
            & .action{
    
                & a{
                    padding: 5px 0;
                    box-sizing: border-box;
                    width: 40px;
                    height: 40px;
                    opacity: 0;
                }
            }
    
            &:hover{
    
                & .action a{
                    opacity: 1;
                }
            }
        }
    }

    .image-link{
        padding-top: 4px;
        position: relative;

        & .image{
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background-size: auto 80%;
            background-color: rgba(black, .7);
            border-radius: 8px;
            bottom: calc(100% - 10px);
            z-index: 20;
            pointer-events: none;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .2s, bottom .2s;
        }

        &:hover{
            
            text-decoration: underline;

            & .image{
                bottom: 100%;
                opacity: 1;
            }
        }
    }

    & .material-table{
        @include material_table();

        @media(max-width: 450px){
            & thead{
                display: none;
            }
        }
    }

    & .responsive-table{
        @include responsive_table();
    }

    & .checkout_changeRegionButton{
        margin-bottom: 20px;

        .map-marker{
            height: 18px;
            width: auto;
        }

        & span{
            font-size: 16px;
            margin-right: 6px;
        }

        & .small{
            font-size: 16px;
        }
    }

    #summary{
    
        margin: 30px 0 60px;
        color: #888;
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        
        & .summary-wrapper{
            @media(max-width: 1200px){
                margin: 60px 0;
                margin-left: auto;
            }
            
            margin-left: auto;
            width: 650px;
            max-width: 100%;
    
            & .top{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border-bottom: 1px solid $text;
                line-height: 40px;
    
                & .left{
                    flex-grow: 1;
                    white-space: nowrap;
                }
    
                & .right{
                    white-space: nowrap;
                }
            }
    
            & .bottom{
                text-align: right;
                font-size: 24px;
                font-weight: 600;
                margin: 10px 0;
    
                @media(max-width: 700px){
                    text-align: left;
                }
            }
        }
    }

    & #set-password{
        
        &:not(.visible){
            display: none;
        }
    }
}
