#contacts{

    & .row{
        display: flex;
        flex-wrap: wrap;
    }

    & .contact-block{

        margin: 20px 0;

        & .contact-header{
            font-weight: 500;
            font-size: 18px;
            color: $primary;
            border-bottom: 1px dotted $text;
        }

        & .map-marker{
            
            transition: color .3s, text-decoration-color .3s;
            text-decoration: underline;
            text-decoration-color: transparent;

            &.active{
                color: $secondary;
                text-decoration-color: $secondary;
                font-weight: 500;
            }
        }

        & .contact-list{
            padding-left: 1.5rem;
            column-gap: 3rem;
    
            &.col2{
                column-count: 2;
    
                @media(max-width: 400px){
                    column-count: 1;
                }
            }
    
            &.col3{
                column-count: 3;
    
                @media(max-width: 1100px){
                    column-count: 2;
                }
    
                @media(max-width: 400px){
                    column-count: 1;
                }
            }
        }
    }

}