#messages{

    background: #ccc;

    & .message-wrapper{

        max-width: 1000px;
        margin: auto;
        padding: 20px 0;

        & .message{
            margin: 20px;
            width: calc(100% - 200px);
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;

            @media(max-width: 600px){
                width: calc(100% - 40px);
            }
            
            & .message-body{
                display: inline-block;
                border: 1px solid #ccc;
                width: calc(100% - 20px);
                position: relative;
                box-sizing: border-box;
                padding: 10px;
                background: #fff;

                & p{
                    margin: 0;
                    margin-bottom: 20px;
                }

                &:before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    background: #fff;
                }

                &:after{
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    background: #ccc;
                }
            }

            & .message-sub{

                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                
                & > *{
                    display: inline;
                    font-size: 12px;
                    color: $fogged;
                }
            }

            &.my{
                & .message-body{
                    margin-left: 20px;
                    border-radius: 10px 10px 10px 0px;
                    
                    &:before{
                        left: -20px;
                    }
                    
                    &:after{
                        left: -20px;
                        border-bottom-right-radius: 20px;
                    }
                }

                & .message-sub{
                    text-align: right;
                }
                
            }
            
            &.not-my{
                
                margin-left: auto;
                
                & .message-body{
                    margin-right: 20px;
                    border-radius: 10px 10px 0px 10px;
                    background-color: rgb(199, 238, 247);

                    &:before{
                        left: 100%;
                        background-color: rgb(199, 238, 247);
                    }

                    &:after{
                        left: 100%;
                        border-bottom-left-radius: 20px;
                    }
                }
            }
        }

        &#form{
            border: 1px solid red;
        }
    }    
}

.messages-form-wrapper{

    background: #ccc;
    position: sticky;
    bottom: 0;

    & .message-wrapper{

        padding: 10px 0 !important;

        
        & .message-send-form{
           
            display: flex;
            
            & .input-field{
                margin: 0;
                flex-grow: 1;
            }
            
            & .trigger-wrapper{
    
                & a{
                    margin-top: 1.3rem;
                }
            }
        }
    }

}