@mixin product_description{

    column-count: 2;
    column-gap: 1.5rem;

    & p{
        margin-top: 0;
    }

    @media(max-width: 600px){
        column-count: 1;
    }
}

#product{

    & .description{
        @include product_description();
    }

    & .product-image{
        margin-bottom: 50px;
        max-height: calc(100vh - 400px);
        margin: auto;
    }

    & .accent{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    & .carousel{
        margin-bottom: 50px;
    }

    & .lr-pair{

        &.chars{
            
            @media(max-width: 400px){
                
                & .left, & .right{
                    width: 100% !important;
                }

                & .right{
                    margin-bottom: 10px;
                }
            }
        }
    }

    & .add-cart-block{
        margin: 30px 0;
    }

    & .price.head{
        font-size: 2em;
        padding-bottom: 10px;
        margin-bottom: 10px;
        line-height: 40px;
        
        &.left{
            font-size: 12px;
        }
    }

    & .divider{
        margin: 10px 0;
    }

    & .rs-favorite{
        padding-left: 40px;
        background: url(../img/icons/fav-accent.svg) left 10px center no-repeat;

        &.rs-in-favorite{
            background: url(../img/icons/faved-accent.svg) left 10px center no-repeat;
        }
    }

    & .price-cooler{

        display: flex;
        margin-bottom: 40px;
        flex-wrap: wrap;

        & .price-holder{

            padding-right: 20px;
            margin-right: 20px;
            & .key{
                color: #888;
                font-size: 12px;
                text-transform: uppercase;
            }

            & .value{
                font-size: 24px;
                font-weight: 500;
            }
        }

        @media(max-width: 600px){

            text-align: center;
            justify-content: center;

            & .price-holder{
                padding: 0;
                margin: 0;
                width: 100%;
                margin-bottom: 20px;
            }

            & .add-cart-block{

                & .add-cart{
                    justify-content: center;
                }
            }
        }

        & .add-cart-block{
            margin: 0;
        }

        & .lr-pair{
            padding-right: 20px;
            margin-right: 20px;
        }
    }
}

#product-water{

    & .description{
        @include product_description();
    }
    
    & .page-product-image{
        padding-top: 70%;
        background-size: contain;
        position: relative;
        display: block;
        width: 100%;

        & .lake-info{
            position: absolute;
            bottom: 4.5vw;
            right: 4.5vw;
            width: 11vw;
            height: 11vw;
            display: block;

            @media(max-width: 700px){
                width: 17vw;
                height: 17vw;
                bottom: 8vw;
                right: 8vw;
            }
        }
    }

    & .add-cart{

        &.inline{
            margin: 30px 0;
        }
    }

    & .lake-char{

        flex-wrap: wrap;

        &:first-of-type{
            margin-top: 50px;
        }
    
        @media(max-width: 700px){
            margin-bottom: 2rem;

            & .left{
                width: 100%;
            }
        }

        & .left{
            font-size: 12px;
            text-transform: uppercase;
            color: #888;
            line-height: 30px;
            padding-right: 20px;
        }

        & .right{
            line-height: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        & + .substitute{
            border-top: 1px solid #888;
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }

    & .lake-info{

        cursor: pointer;
        mix-blend-mode: darken;
    }

}

.modal#lake-info{

    // width: 40vw;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media(max-width: 400px){
        width: 100%;
    }

    & .modal-header{
        height: 240px;
        background-size: cover;
    }

    & .modal-content{
        box-sizing: border-box;
        padding: 0;

        & .modal-text{
            padding: 20px;
        }
    }

    & .modal-footer{
        box-sizing: border-box;
    }
}