#support{

    & .material-table{
        @include material_table();

        & td, & th{
            white-space: nowrap;

            @media(max-width: 1100px){

                &.author{
                    display: none;
                }
            }

            @media(max-width: 1000px){

                &.last-date{
                    display: none;
                }
            }

            @media(max-width: 600px){

                white-space: normal;

                &.date{
                    display: none;
                }
            }
        }
    }
}