.ba-slider {
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	img {
		width: 100%;
		display: block;
		max-width: none;
	}
	.resize {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		overflow: hidden;
	}
	.handle {
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		width: 4px;
		margin-left: -2px;
		background: rgba(0,0,0,.5);
		cursor: ew-resize;
		&:after {
			position: absolute;
			top: 50%;
			width: 24px;
			height: 64px;
			margin: -32px 0 0 -12px;
			content: '';
			color: white;
			font-weight: bold;
			font-size: 36px;
			text-align: center;
			line-height: 64px;
			background: #ffb800;
			border: 1px solid #e6a600;
			border-radius: 6px;
			transition: all 0.3s ease;
			transform-origin: center center;
			box-shadow: 0 2px 6px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.5), inset 0 60px 50px -30px #ffd466;
		}
	}
	.handle.ba-draggable {
		&:after {
			transform: scale(.9);
			margin: -32px 0 0 -12px;
			line-height: 50px;
			font-size: 30px;
		}
	}
}
