@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

body{
    background: $paper;
    font-family: 'Roboto';
}

*{
    -webkit-tap-highlight-color: transparent;
}

.lr-pair{

    display: flex;

    & .grow{
        flex-grow: 1;
    }

    &.dotted{

        & .separator{
            border-bottom: 1px dotted;
        }
    }

    &.chars{
        flex-wrap: wrap;
        line-height: 30px;
        
        &.nowrap{
            flex-wrap:nowrap !important;
        }

        & .left, & .right{

            &.head{
                border-bottom: 1px solid #888;

                &.small{
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #888;
                }
            }
        }

        & .left{
            color: #888;
            font-size: 12px;
            text-transform: uppercase;
            width: 40%;
        }

        & .right{
            width: 60%;
            font-weight: 500;
        }

        & .left, & .right{

            &.fit{
                width: fit-content;
            }
        }
    }
}

p{
    text-align: justify;
}

.right-align{
    text-align: right;
}

.icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    
    // Actions
    &.decline{background: url(../img/icons/decline.svg) center center no-repeat;}
    &.more{background: url(../img/icons/more-vert.svg) center center no-repeat;}
    &.repay{background: url(../img/icons/repay.svg) center center no-repeat;}
    &.repeat{background: url(../img/icons/repeat.svg) center center no-repeat;}
    &.reroute{background: url(../img/icons/reroute.svg) center center no-repeat;}
    &.reciept{background: url(../img/icons/reciept.svg) center center no-repeat;}
    &.remove{background: url(../img/icons/remove.svg) center center no-repeat;}
    &.refresh{background: url(../img/icons/Refresh.svg) center center no-repeat; background-size: 80% auto;}

    // Social
    &.whatsapp{background: url(../img/icons/Whatsapp.svg) center center no-repeat; background-size: 80% auto;}
    &.telegram{background: url(../img/icons/Telegram.svg) center center no-repeat; background-size: 80% auto;}
    &.youtube{background: url(../img/icons/yt.svg) center center no-repeat; background-size: 80% auto;}
    &.facebook{background: url(../img/icons/fb.svg) center center no-repeat; background-size: 80% auto;}
    &.instagram{background: url(../img/icons/in.svg) center center no-repeat; background-size: 80% auto;}
    &.vkontakte{background: url(../img/icons/vk.svg) center center no-repeat; background-size: 80% auto;}

    // Misc
    &.cart{background: url(../img/icons/Cart.svg) center center no-repeat; background-size: 80% auto;}
    &.person{background: url(../img/icons/Person.svg) center center no-repeat; background-size: 80% auto;}
    &.phone{background: url(../img/icons/Phone.svg) center center no-repeat; background-size: 80% auto;}

    // Toolbar
    &.tb-fav{background: url(../img/icons/tb_fav.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-person{background: url(../img/icons/tb_person.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-cart{background: url(../img/icons/tb_cart.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-repeat{background: url(../img/icons/tb_repeat.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-announcement{background: url(../img/icons/tb_announcement.svg) center center no-repeat; background-size: 130% auto;}
}

.disabled{
    filter: grayscale(1);
    opacity: .5;
    pointer-events: none;
}

.substitute{
    color: #888;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}

.warning{
    background: lighten(orange, 40);
    color: darken(orange, 20);
    padding: 0 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}

p.note{
    color: $fogged;
    margin: 10px 0 !important;
    font-size: 10px;
}

.add-cart{
    display: flex;

    &.inline{

        flex-wrap: wrap;
    
        & a:not(.btn), & .input{
            line-height: 36px;
            padding: 0 6px;
        }
    
        & .buy-wrapper{
            margin-left: 30px;
        }
       
        @media(max-width: 400px){

            justify-content: center !important;

            & .oneclick-wrapper{
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }  
    }

    &.right{
        justify-content: flex-end;
    }

    & a:not(.btn){

        border-radius: 4px;
        transition: background-color .2s;

        &:hover{
            background-color: rgba(#888, .1);
        }
    }
}

.fixed-action-btn{

    @media(max-width: 750px){
        display: none;
    }
}

.float-right{
    float: right;
}

.slider-header{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #888;
}

.lazy-image{
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .5s;
    
    &.lazy-loading{
        display: none;
    }

    &.contain{
        background-size: contain;
    }

    &.top{
        background-position: top;
    }

    &.complete{
        opacity: 1;
    }
}

main{
    min-height: calc(100vh - 352px);
}

.underline-wrapper{
    border-bottom: 1px solid #888;
    margin-bottom: 20px;

    & h2{
        color: $text;
        margin: 10px 0;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: 600px){
            font-size: 24px;
            line-height: 30px;
        }
    }
}

.right-align{
    text-align: right !important;
}

.center-align{
    text-align: center !important;
}

.response{
    height: 100%;
    background: url(../img/response.svg) center center no-repeat;
    background-size: 18px auto;
}

.app-stores{
    
    & .app-store{
        display: inline-block;
        width: 95px;
        height: 32px;
        
        &.gplay{
            background: url(../img/gplay.png) center center no-repeat;
        }
        
        &.appstore{
            background: url(../img/appstore.png) center center no-repeat;
        }
    }
}

h1{
    font-size: 36px;
    color: $primary;

    @media(max-width: 600px){
        font-size: 28px;
    }
}

.hidden{
    display: none;
}

.popup-wrapper{

    position: relative;

    & .popup{
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        padding: 0;
        background: #fff;
        top: 100%;
        margin: 0;
        z-index: 20;
        box-shadow: 0 2px 4px rgba(black, .4);
        transition: transform .4s, opacity .2s;
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;

        &.open{
            transform: none;
            opacity: 1;
            pointer-events: all;
        }

        &.left{
            left: 0;
            text-align: left;
        }

        &.right{
            right: 0;
            text-align: right;
        }

        & li{
            list-style: none;

            & a{
                white-space: nowrap;
                display: block;
                width: 100%;
                line-height: 40px;
                padding: 0 10px;
                box-sizing: border-box;
                color: $text;
                
                &:hover{
                    background-color: lighten(#ccc, 10);
                }
            }
        }
    }
}

h2{
    font-size: 26px;
}

h3{
    font-size: 22px;
    margin-top: 0;
}

a{
    color: $secondary;
    display: inline-block;
    width: fit-content;
    position: relative;
    cursor: pointer;

    &.underlined{

        line-height: 30px;

        &:after{
            content: '';
            position: absolute;
            border-bottom: 1px solid;
            border-color: inherit;
            width: 100%;
            height: 1px;
            bottom: 4px;
            left: 0;
            transform-origin: left center;
            transition: transform .2s;
            transform: scaleX(0);
        }
    
        &:hover:after{
            transform: scaleX(1);
        }
    }
}

*:focus{
    outline: none;
}

.crumbs-wrapper{
    
    & .crumb-separator{
        color: #ccc;
    }

    & .crumb{

        &:last-of-type{
            color: #ccc;
        }
    }
}

.pagination-wrapper{

    text-align: center;
    display: flex;
    justify-content: center;

    & a{

        &.page{

            &:hover{
                box-shadow: 0 0 0 3px $secondary inset;
            }
        }
    }

    & .page{
        box-shadow: 0 0 0 1px #ccc inset;
        line-height: 30px;
        padding: 0 10px;
        margin: 0 3px;
        
        &.current{
            box-shadow: 0 0 0 1px $secondary inset;
            background: $secondary;
            color: #fff;
        }
        
        &.dots{
            color: #ccc;
            background: lighten(#ccc, 15);
        }
    }
}

@for $i from 1 to 10 {
    .columns-#{$i}{
        column-count: #{$i};

        @media(max-width: 800px){
            column-count: 1;
        }
    }
}

@for $i from 1 to 10 {
    .column-gap-#{$i}{
        column-gap: #{$i * 10px};
    }
}