.icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    
    // Actions
    &.decline{background: url(../img/icons/decline.svg) center center no-repeat;}
    &.more{background: url(../img/icons/more-vert.svg) center center no-repeat;}
    &.repay{background: url(../img/icons/repay.svg) center center no-repeat;}
    &.repeat{background: url(../img/icons/repeat.svg) center center no-repeat;}
    &.reroute{background: url(../img/icons/reroute.svg) center center no-repeat;}
    &.reciept{background: url(../img/icons/reciept.svg) center center no-repeat;}
    &.remove{background: url(../img/icons/remove.svg) center center no-repeat;}
    &.refresh{background: url(../img/icons/Refresh.svg) center center no-repeat; background-size: 80% auto;}

    // Social
    &.whatsapp{background: url(../img/icons/Whatsapp.svg) center center no-repeat; background-size: 80% auto;}
    &.telegram{background: url(../img/icons/Telegram.svg) center center no-repeat; background-size: 80% auto;}
    &.youtube{background: url(../img/icons/yt.svg) center center no-repeat; background-size: 80% auto;}
    &.facebook{background: url(../img/icons/fb.svg) center center no-repeat; background-size: 80% auto;}
    &.instagram{background: url(../img/icons/in.svg) center center no-repeat; background-size: 80% auto;}
    &.vkontakte{background: url(../img/icons/vk.svg) center center no-repeat; background-size: 80% auto;}

    // Misc
    &.cart{background: url(../img/icons/Cart.svg) center center no-repeat; background-size: 80% auto;}
    &.person{background: url(../img/icons/Person.svg) center center no-repeat; background-size: 80% auto;}
    &.phone{background: url(../img/icons/Phone.svg) center center no-repeat; background-size: 80% auto;}
    &.fav{background: url(../img/icons/fav.svg) center center no-repeat; background-size: 80% auto;}
    &.send{background: url(../img/icons/send.svg) center center no-repeat; background-size: 80% auto;}

    // Toolbar
    &.tb-fav{background: url(../img/icons/tb_fav.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-person{background: url(../img/icons/tb_person.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-cart{background: url(../img/icons/tb_cart.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-repeat{background: url(../img/icons/tb_repeat.svg) center center no-repeat; background-size: 130% auto;}
    &.tb-announcement{background: url(../img/icons/tb_announcement.svg) center center no-repeat; background-size: 130% auto;}
}