.product-card{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    & .separator{
        flex-grow: 1;
    }
    
    & .card-content{
        
        position: relative;
        
        & .left{
            
            position: relative;

            & .rs-favorite{
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                z-index: 20;
                background: url(../img/icons/fav-accent.svg) center center no-repeat;
                transition: background-image .2s;
                
                &.rs-in-favorite{
                    background: url(../img/icons/faved-accent.svg) center center no-repeat;
                }
            }
        }


        & .header{
            font-size: 16px;
            font-weight: 500;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        
        & .product-image{
            width: 120px;
            padding-top: 152%;
            background-color: #fff;
            background-size: auto 90%;
            background-position: left center;
        }

        & > .lr-pair{

            @media(max-width: 400px){
                flex-direction: column;

                & .product-image{
                    width: 100%;
                    background-position: center center;
                    padding-top: 100%;
                }
            }

            & > .right{

                @media(min-width: 600px){
                    padding-left: 20px;
                }

                & .sub-header{
                    font-size: 14px;
                }

                & .table-header{
                    font-size: 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-top: 10px;
                    color: #909090;
                }

                & .count{
                    color: #909090;
                    font-size: 14px;
                    line-height: 24px;
                    padding-top: 10px;
                }
                
                & .price{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    padding-top: 10px;
                }
            }
        }
    }

    & .card-footer{

        padding: 4px;
        border-top: 1px solid rgba(#909090, .2);

        & .left{
            line-height: 36px;

            & a, & div{
                font-size: 18px;
            }
        }

        & .right{
            text-align: right;
        }

        & a:not(.btn){
            padding: 0 10px;
        }

        & .add-cart{
            display: flex;
        }
    }
}
