.sidenav{

    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    & .user-view{

        position: sticky;
        left: 0;
        top: 0;
        margin: 0;
        padding-bottom: 5px;
        z-index: 20;

        & a{
            color: #fff;
        }

        & .lr-pair{

            display: flex;

            & .left{

                padding-right: 10px;
                display: block;

                & .avatar{
                    display: block;
                    width: 64px;
                    line-height: 64px;
                    text-align: center;
                    background-color: #fff;
                    border-radius: 50%;
                    background-size: contain;
                    color: $text;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            & .right{

                display: flex;
                flex-direction: column;

                &:before, &:after{
                    content: '';
                    flex-grow: 1;
                    display: block;
                }

                & .username{
                    font-size: 16px;
                    font-weight: 500;
                }

                & a{
                    line-height: 20px;
                }
            }
        }

    }

    & .repeat{
        display: block;
        width: 100%;
        height: 44px;
        background: $secondary;
        color: #fff;
        padding-left: 30px;
        box-sizing: border-box;

        & .icon{
            transform: translateY(8px);
            margin-right: 6px;
        }
    }

    & .dropdown-wrapper{

        background: $primary;
        padding: 10px;
        margin: 0;

        & .dropdown{

            & .current{
                background-color: darken($primary, 10);
                line-height: 30px;
                color: #fff;

                &:after{
                    width: 38px;
                    height: 38px;
                }
            }

            & .popup{

                margin: 0 10px;
                width: calc(100% - 20px);
                max-width: calc(100% - 20px);
                min-width: unset;
                top: calc(100% - 10px);

                & a{
                    line-height: 50px;
                }
            }
        }
    }

    & .main-catalog{

        position: relative;
        flex-grow: 1;
        
        & > .main-catalog-scroller{
            position: relative;
            padding: 0;
            margin: 0;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;

            & li{

                list-style: none;

                & a{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;

                    &.folder{
                        background-image: url(../img/forward.svg);
                        background-position: right 20px center;
                        background-repeat: no-repeat;
                    }

                    &.back{
                        padding-left: 50px;
                        background-image: url(../img/back.svg);
                        background-position: left 32px center;
                        background-repeat: no-repeat;
                    }
                }

                & ul{
                    padding: 0;
                    position: absolute;
                    top: 0px;
                    left: 100%;
                    width: 100%;
                    opacity: 0;
                    pointer-events: none;
                    padding-bottom: 20px;

                    &.visible{
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
       
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            z-index: 2;
            background: linear-gradient(to bottom, transparent, #fff 80%);
            pointer-events: none;
        }
    }

    & .more-data{

        padding: 10px 0;

        & .app-stores{
            text-align: center;

            & .app-store{
                transform: translateY(5px);
            }
        }

        
        & .phones{
                        
            & .left, & .right{
                flex-grow: 1;
                text-align: center;
                line-height: 40px;
                color: $text !important;
            }
        }
    }
}