@mixin material_table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    & thead{
        
        & th{
            font-size: 12px;
            color: #888;
            text-align: left;
            font-weight: 500;
        }
    }

    & tbody{

        & tr{
    
            &:first-of-type{
    
                & td{
                    border-top: 1px solid rgba(#888, .4);
                }
            }
            
            & td{
                line-height: 30px;
                border-bottom: 1px solid rgba(#888, .4);
            }

            &:hover{

                background: rgba(#888, .1);
            }

        }
    }
}

@mixin responsive_table{

    
    @media(max-width: 600px){

        & thead{
            display: none;
        }
        
        & tbody{
            display: block;
            width: 100%;

            & tr{

                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 10px;
                box-sizing: border-box;
                background: #fff;
                margin: 20px 0;
                box-shadow: 0 3px 9px rgba(black, .2);
                border-radius: 4px;
                
                & td{
                    border: 0 !important;
                    line-height: 30px;
                    
                    &:before{
                        content: attr(data-prefix);
                        display: inline-block;
                        width: 50%;
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: #888;
                    }
                }
            }
        }

    }
}